 <div class="row">
  <div class="large-12 columns">
    <div class="thumbnail clearfix">

      <span class="event add-event"><i class="ss-icon ss-plus"></i></span>

      <div class="app clearfix">

        <div class="browser">
          <div class="ui-header">
            <ul class="no-bullet">
              <li class="close"></li>
              <li class="minimize"></li>
              <li class="expand"></li>
            </ul>
          </div>
          <div class="ui-content">
            <div class="ui-block"></div>
            <div class="ui-line"></div>
          </div>
        </div>

        <div class="caption">
          <p>Add a</p>
          <h3>Project</h3>
        </div>

      </div>

      <div class="app feature clearfix">

        <div class="browser">
          <div class="ui-header">
            <ul class="no-bullet">
              <li class="close"></li>
              <li class="minimize"></li>
              <li class="expand"></li>
            </ul>
          </div>
          <div class="ui-content">
            <div class="ui-block dashed"></div>
            <div class="ui-line"></div>
          </div>
        </div>

        <div class="caption">
          <p>Share a</p>
          <h3>Feature</h3>
        </div>

      </div>

      <div class="app clearfix">



        <div class="caption">
          <p>Post an</p>
          <h3>update</h3>
        </div>

      </div>
    </div>
  </div>
</div>
