<div class="timestamp">
  <div class="row">
    <div class="large-4 columns"></div>
    <div class="large-8 columns">
      <div class="activity-content">
        <div class="time">
          <span><i class="ss-icon ss-clock"></i></span>
          <%= time %>
        </div>
      </div>
    </div>
  </div>
</div>
