<div class="section">
  <%= link_to projects_path, class: "button secondary medium with-icon like" do %>
    Like
  <% end %>
  <%= link_to projects_path, class: "button secondary medium with-icon with-text" do %>
    Comment
  <% end %>
</div>
