<div class="section">
  <%= link_to projects_path, class: "button secondary medium with-icon like" do %>
    <i class="ss-icon ss-heart"></i> Like
  <% end %>
  <%= link_to projects_path, class: "button secondary medium with-icon with-text" do %>
    <i class="ss-icon ss-chat"></i> Comment
  <% end %>
</div>
