<div class="section">
  <%= link_to projects_path, class: "button secondary medium like" do %>
    Like
  <% end %>
  <%= link_to projects_path, class: "button secondary medium comment" do %>
    Comment
  <% end %>
</div>
