<div class="actions">
  <a href="#" class="primary button with-icon with-text">
    <i class="ss-icon ss-plus"></i> Follow me
  </a>
  <a href="#" class="secondary button with-icon"><i class="ss-icon ss-chat"></i></a>
</div>
