<div class="content-container">
    <div>
      <div class="small-6 columns">
        <div class="block"></div>
      </div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
    </div>
    <div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
      <div class="small-3 columns">
        <div class="block"></div>
      </div>
    </div>
</div>
