<%
  container_size ||= 12
  tile_size = case container_size
  when 1..6 then 6
  when 7..10 then 4
  else 3
  end
%>

<%
apps = [
  {
    title: "Sons of Anarchy App",
    image: "soa.jpg"
  },
  {
    title: "FaceTune",
    image: "ggplay2.png",
    desc: "Facetune is a fun and powerful portrait & selfie photo editor! Facetune is a fun and powerful portrait & selfie photo editor!"
  },
  {
    title: "StarSucks",
    image: "gg6.png",
    desc: "A Starbucks Card is the fastest, most convenient way to pay at Starbucks. lol."
  },
  {
    title: "Reddit now",
    image: "ggplay4.png",
    desc: "Reddit Now is a great way to browse content published on Reddit Reddit Now is a great way to browse content published on Reddit"
  },
  {
    title: "Angry Birds",
    image: "gg5.png",
    desc: "Join Stella and her super adventurous friends on a quest to protect Golden Island."
  }
]
%>

<div class="row" id="software-gallery">
  <div class="large-<%= tile_size %> columns">
    <%= render "software_thumbnail", apps[0] %>
  </div>
  <% prev_s = apps[0] %>
  <% 10.times do %>
    <% while (s = apps.sample) == prev_s; end; prev_s = s %>
    <div class="large-<%= tile_size %> columns">
      <%= render "software_thumbnail", s %>
    </div>
  <% end %>
  <div class="columns"></div>
</div>
