<footer id="footer" class="clearfix">
  <div class="row">
    <div class="actions">
      <a href="#" class="primary button">Follow me</a>
      <a href="#" class="secondary button">Hire me</a>
    </div>
  </div>
</footer>
