<header id="global-nav">
  <div class="row clearfix">
    <div class="small-12 columns">
    <nav class="top-bar" data-topbar="">
      <ul class="title-area">
        <li class="name">
          <div id="logo">
            <a href="http://challengepost.com">
              <img alt="ChallengePost" data-interchange="[//challengepost1.assetspost.com/assets/shared/ChallengePost_logo-c82afdc822adf963c243fa9d3f2b650c.png, (default)], [//challengepost1.assetspost.com/assets/shared/ChallengePost_logo@2x-ea678a3923a811b2062e31a7e9c609d8.png, (retina)]" src="//challengepost1.assetspost.com/assets/shared/ChallengePost_logo@2x-ea678a3923a811b2062e31a7e9c609d8.png" data-uuid="efbf0bde-53f7-54e6-0c8f-82db557ba517">
            </a>            </div>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>


        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>

            <li>
              <a class="main-link" data-role="explore" href="http://challengepost.com/software">
                <strong>Explore</strong> software projects
              </a></li>
              <li class="divider"></li>

              <li>
                <a class="main-link" data-role="discover" href="http://challengepost.com/discover">
                  <strong>Participate</strong> in hackathons &amp; online challenges
                </a></li>
                <li class="divider"></li>

                <li>
                  <a class="main-link" data-role="post-challenge" href="http://post.challengepost.com/">
                    <strong>Post</strong> a new challenge
                  </a></li>
                  <li class="divider"></li>

                </ul>


                <ul class="right logged-in">
                  <li class="has-dropdown not-click">
                    <a class="user" href="http://challengepost.com/users/NiuAge?ref_content=user-portfolio&amp;ref_feature=portfolio&amp;ref_medium=global-nav" id="global-nav-screen-name">
                      <img alt="NiuAge" class="user-avatar hide-for-small photo_image_tag image-replacement" src="//s3.amazonaws.com/challengepost/photos/production/user_photos/000/127/180/datas/small.jpg?1398969079">
                      <strong class="user">NiuAge</strong>

                      <span class="label radius profile-completion" style="background-color: rgb(0, 204, 0)">
                        100%
                      </span>
                    </a>
                    <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
                      <li class="divider"></li>


                      <li>
                        <a href="http://challengepost.com/users/NiuAge?ref_content=user-portfolio&amp;ref_feature=portfolio&amp;ref_medium=global-nav">
                          Portfolio

                          <span class="label radius profile-completion" style="background-color: rgb(0, 204, 0)">
                            100%
                          </span>
                        </a>      </li>
                        <li class="divider"></li>

                        <li>
                          <a href="http://challengepost.com/find-friends/facebook">Find friends</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                          <a href="http://manage.challengepost.com/dashboard">Manage challenges</a>
                        </li>
                        <li class="divider"></li>

                        <li id="global-nav-user-settings">
                          <a href="http://challengepost.com/settings">Settings</a>
                        </li>
                        <li class="divider"></li>

                        <li id="global-nav-user-log-out" data-global-nav-user="log-out">
                          <a href="http://secure.challengepost.com/users/logout">Log out</a>
                        </li>
                        <li class="divider"></li>


                        <li id="global-nav-start-admin">
                          <a data-method="put" href="https://secure.challengepost.com/modes/admin/enable" rel="nofollow">Start admin</a>
                        </li>
                        <li class="divider"></li>

                      </ul>
                    </li>
                  </ul>

                </section></nav>
              </div>
              </div>
            </header>
