<div id="menu" class="row">
  <div class="large-9 columns">
    <ul class="no-bullet" id="main-menu">
      <li>
        <%= link_to root_path, class: ("current" if current_page?(action: 'index')) do %>
          Overview
        <% end %>
      </li>
      <li>
        <%= link_to projects_path, class: ("current" if current_page?(action: 'projects')) do %>
          My projects <span class="label">17</span>
        <% end %>
      </li>
      <li><a href="#">My Likes <span class="label">42</span></a></li>

      <li class="right"><a href="#">Followers <span class="label">83</span></a></li>
      <li class="right"><a href="#">Following <span class="label">51</span></a></li>
    </ul>
  </div>

  <div class="large-3 columns">
    <ul class="no-bullet" id="following-menu">

    </ul>
  </div>
</div>
