<div id="menu" class="row">
  <div class="large-9 columns">
    <ul class="no-bullet">
      <li><a href="#">Overview</a></li>
      <li><a href="#" class="current">My projects <span class="label">17</span></a></li>
      <li><a href="#">My Likes <span class="label">42</span></a></li>
      <li><a href="#">Entered challenges</a></li>
    </ul>
  </div>

  <div class="large-3 columns">
    <ul class="no-bullet">
      <li><a href="#">Following <span class="label">51</span></a></li>
      <li><a href="#">Followers <span class="label">83</span></a></li>
    </ul>
  </div>
</div>
