<ul>
  <li>
    <%= link_to "V1", v1_root_path %>
  </li>

  <li>
    <%= link_to "V2 - trying a simplified header", v2_root_path %>
  </li>

  <li>
    <%= link_to "V3 - [WIP] back to original header, but a bit simplified + new feed ideas", v3_root_path %>
  </li>
</ul>
