<ul>
  <li>
    <%= link_to "Experiment 1", v1_root_path %>
  </li>

  <li>
    <%= link_to "Experiment 2 - simplified header", v2_root_path %>
  </li>

  <li>
    <%= link_to "Experiment - [WIP]", v3_root_path %>
  </li>
</ul>
