<div id="menu-v2">
  <div class="row">
  <div class="large-12 columns">
    <ul class="no-bullet" id="main-menu">
      <li>
        <%= link_to v2_root_path, class: ("current" if current_page?(action: 'index')) do %>
          <span>Overview</span>
          <span class="label"><i class="ss-icon ss-laptop"></i></span>
        <% end %>
      </li>
      <li>
        <%= link_to v2_projects_path, class: ("current" if current_page?(action: 'projects')) do %>
          <span>My projects</span> <span class="label">17</span>
        <% end %>
      </li>
      <li><a href="#"><span>My Likes</span> <span class="label">42</span></a></li>

      <li class="right"><a href="#"><span>Followers</span> <span class="label">83</span></a></li>
      <li class="right"><a href="#"><span>Following</span> <span class="label">51</span></a></li>
    </ul>
  </div>
</div>
</div>
