<div id="user-intro">
  <figure>
    <%= image_tag "http://s3.amazonaws.com/challengepost/photos/production/user_photos/000/127/180/datas/profile.jpg?1398969079",
    class: "user-avatar" %>
  </figure>

  <h1>Robin Boutros</h1>

  <p>
    Ruby on Rails developer at @ChallengePost.
    I love designing and building user-facing features that make a difference.
  </p>

  <div id="header-details">
    <p class="info">
      I'm a
      <a href="#" class="occupation">
        <i class="ss-icon ss-laptop"></i> Developer & Designer
      </a>
      living in
      <a href="#" class="location">
        <i class="ss-icon ss-location"></i>New York, NY
      </a>.
      You can find me on
      <a href="#" class="github">
        <i class="ss-icon ss-social ss-octocat"></i>
        GitHub
      </a>
      &amp; at
      <a href="#" class="website">
        <i class="ss-icon ss-globe"></i>
        hellorobin.com
      </a>
    </p>
  </div>
</div>
