@import 'foundation'
@import 'reimagine2'

$header-padding: 40px

$body-bg-color: #f0f0f0

body, html
  background: $body-bg-color
  font-family: 'Helvetica Neue', Helvetica

#header
  background: #3b3b3b image-url('justin.jpg') center top
  background-size: cover
  padding: $header-padding 0 0
  color: white

  h1, h2, h3, h4
    font-weight: normal
    color: white
    margin-top: 0
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3)

  h1
    margin-bottom: $header-padding
    padding-left: 50px

    $icon-color: #ccc
    i
      font-size: 9px
      color: $icon-color

  h4
    padding-top: 10px
    position: relative

    .circled-icon
      color: #aaa
      border-color: #aaa
      line-height: 1.3em

      i
        top: 1px

  h4:before
    content: ""
    display: block
    height: 1px
    width: 1em
    background: #aaa
    position: absolute
    top: 0
    left: 0

  p
    color: #aaa

  figure
    float: left
    position: relative

    .organization
      height: 18px
      width: 18px
      background: #FFF
      border: 3px solid #444
      border-radius: 50%
      position: absolute
      bottom: -4px
      right: -4px
      padding: 1px

  .info
    text-transform: uppercase
    font-size: 0.75em
    letter-spacing: 1px

    a
      display: inline-block
      margin-right: 1em
      font-weight: bold
      color: #ccc

      &:hover
        color: white

      i
        font-size: 0.825em
        color: $secondary-color

  .label
    background: #aaa
    color: #3b3b3b
    padding: 1px 3px
    margin-left: 2px
    border-radius: 2px
    box-shadow: 0 1px 0px #222

.at
  color: #999
  font-size: 0.75em

#content
  padding: $header-padding 0

.actions
  padding-top: 2px

.button
  padding-top: 0.5em // cancelling a weirdly higher padding-top in reimagine
  background: none
  border-radius: 3px
  border: 1px solid

  &:hover
    background: none

  &.primary
    border: 2px solid $secondary-color
    color: $secondary-color

  // lighten($primary-color, 6%)
  $sec-color: #3ABB92
  &.secondary
    background: none
    border: 2px solid $sec-color
    color: $sec-color

    &:hover
      background: none

  &.more, &.small
    border-color: #ccc
    color: #ccc
    font-weight: normal
    font-size: 0.75em
    padding: 4px 10px
    margin-bottom: 0.5em

    &:hover
      color: white
      border-color: white

    .count
      margin: -4px -10px
      padding: 4px 6px
      float: right
      margin-left: 0.5em
      border-left: 1px solid white
      background: rgba(255, 255, 255, 0.15)

    &.round
      .count
        border-radius: 0 100% 100% 0

    i
      font-size: 0.825em

  &.circled-icon
    padding: 1px 4px
    font-size: 0.625em
    position: relative
    top: -2px
    line-height: 0.75em

    i
      position: relative

.members
  padding-top: 5px

  li
    float: left
    margin:
      right: 10px
      bottom: 10px

  $img-size: 30px
  img
    width: $img-size
    height: $img-size
    border-radius: 50%

#user-avatar
  height: 40px
  width: 40px
  border-radius: 50%
  position: relative
  top: 2px

$menu-border-size: 0.4em
$light-border: 1px solid rgba(255, 255, 255, 0.2)
#menu
  ul
    position: relative
    margin-bottom: 0

    @media #{$small}
      border-top: $light-border

    &:before
      content: ""
      display: block
      height: 1px
      width: 1em
      background: #aaa
      position: absolute
      top: -1px
      left: 0

  margin:
    top: 1.2 * $header-padding
    bottom: 0

  li
    @media #{$small}
      float: left
      margin-right: 2em

    a
      font-size: 0.825em
      color: #aaa
      display: block
      padding: 1em 0 0.6em 0
      text-transform: uppercase
      border-bottom: $light-border
      border-width: 0 0 1px

      &.current
        color: white
        border-color: $body-bg-color

        span
          background: $secondary-color

      &:hover
        border-color: $body-bg-color

      @media #{$small}
        border-bottom: $menu-border-size solid transparent

      .label
        position: relative
        top: -1px

.skills
  li
    float: left
    font-size: 0.875em
    color: #aaa
    margin-right: 0.5em

    &.main
      color: #ddd

  .label
    float: right
    top: 2px
    font-size: 0.825em

.software-thumbnail
  margin-bottom: 25px

  $software-details-padding: 0.3em
  $software-details-bg-color: #ddd
  .software-details
    padding: $software-details-padding
    border-radius: 3px
    background: $software-details-bg-color
    margin-bottom: 0.5em

    figure
      border-radius: 3px 3px 0 0
      height: 200px

  .description
    padding: 1px 1em
    border-radius: 0 0 3px 3px
    background: white
    position: relative
    // box-shadow: 0 1px 0 #ccc

    &:after
      content: ""
      display: block
      position: absolute
      bottom: -16px
      left: 10px
      height: 0
      width: 0
      border: 8px solid transparent
      border-top-color: white

    h3
      margin: 0.6875em 0 0.1em
      font-size: 1.2em

    .tagline
      height: 36px
      font-size: 0.825em
      overflow: hidden

  .members
    margin: 0
    padding: 0

    li
      margin-bottom: 0

    img
      width: 25px
      height: 25px

  footer
    padding: 0.7em 0 0.2em 0.3em

    i
      color: $grey-4
      font-size: 0.75em
      @include transition(color 1s ease-out)

    .counts
      float: right
      line-height: 25px

    .count
      font-size: 0.875em
      display: inline-block
      margin-right: 0.9em

      &.view-count i
        position: relative
        top: 1px
        font-size: 0.925em

      &.like-count.highlight i
        color: $alert-color

      &.comment-count.highlight i
        color: $grey-6

#footer
  background: #3b3b3b image-url('justin.jpg') center bottom
  padding: 2em 0

  .actions
    text-align: center

  .button
    margin: 0

.row
  max-width: 80em
